/*-----------------------------------------FONT---------------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/*---------------------------------------BODY------------------------------*/
body {
    background-color: rgb(202, 240, 248);
    font-family: 'Roboto', sans-serif;
}

/*--------------------------------------------H1 y H2-----------------------*/
h1,
h2 {
    text-align: center;
    font-size: 25px;
    margin-top: 16px;
    font-weight: bold;
}

/*-------------------------------------NAVEGADOR-----------------------------*/
nav img {
    border-radius: 15px;
    width: 100px;
    height: 100px;
    vertical-align: middle;
}

/*--------------------------------Main------------------------------*/
.card {
    background-color: rgb(173, 232, 244);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 300px;
    height: 100%;
    margin: auto;
    margin-top: 15px;
    text-align: center;
    padding: 0;
}

.price {
    color: black;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    transition: 0.5s;
}

.card button:hover {
    opacity: 0.7;
}

.card-group {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.img-container>img {
    width: 250px;
    height: 250px;
}

/*--------------------------------------Footer------------------------------*/
.footer {
    background-color: rgb(0, 150, 199);
    padding: 70px 0;
    margin-top: 15px;
}

.footer-container {
    max-width: 1170px;
    margin: auto;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;

}

.footer-col {
    width: 33.3%;
    padding: 0 100px;
}

.footer-col h4 {
    font-size: 18px;
    margin-bottom: 35px;
    margin-left: 25px;
    position: relative;
    font-weight: bold;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: black;
    height: 2px;
    width: 50px;
}

.footer-col ul li:not(last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    margin: -5px;
    color: black;
    display: block;
    text-decoration: none;
    transition: all 0.3s ease;

}

.footer-col ul li a:hover {
    color: #000;
    padding-left: 8px;
}

.footer-col .redes-sociales a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(225, 225, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: black;
    transition: all 0.5s ease;
}

.footer-col .redes-sociales a:hover {
    background-color: black;
    color: white;
}

/*----------------------------Tablet---------------------------------------*/
@media only screen and (max-width: 915px) {

    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }

    .card {
        margin-bottom: 25px;
        height: auto;
    }
}

/*--------------------------------------Mobile----------------------------------------------------*/
@media only screen and (max-width:450px) {

    h1,
    h2 {
        font-size: 15px;
    }

    .footer-col {
        width: 100%;
        margin-bottom: 30px;
    }

    .card {
        margin-bottom: 25px;
        height: auto;

    }

}