/*Cards*/
.card {
    background-color: $cards;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 300px;
    height: 100%;
    margin: auto;
    margin-top: 15px;
    text-align: center;
    padding: 0;

    .img-container>img {
        width: 250px;
        height: 250px;
    }

    .price {
        color: black;
        font-size: 22px;
    }

    & button {
        border: none;
        outline: 0;
        padding: 12px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
        transition: 0.5s;

        &:hover {
            opacity: 0.7;
        }
    }
}
/*Cards*/